* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Aboreto", cursive; }

.logoNav {
  filter: opacity(0.4) drop-shadow(0 0 0 whitesmoke); }

a {
  text-decoration: none;
  color: whitesmoke; }

.gridPinturas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 55px 50px;
  grid-auto-flow: row;
  grid-template-areas: "pintura-1 pintura-2 pintura-3" "pintura-4 pintura-5 pintura-6" "pintura-7 pintura-8 pintura-9"; }

.pintura-1 {
  grid-area: pintura-1; }

.pintura-2 {
  grid-area: pintura-2; }

.pintura-3 {
  grid-area: pintura-3; }

.pintura-4 {
  grid-area: pintura-4; }

.pintura-6 {
  grid-area: pintura-6; }

.pintura-7 {
  grid-area: pintura-7; }

.pintura-8 {
  grid-area: pintura-8; }

.pintura-9 {
  grid-area: pintura-9; }

body {
  background-image: url("https://d2jv9003bew7ag.cloudfront.net/uploads/Servadio-old-wall-in-hacney-1200x1200.jpg"); }

.textColor {
  color: whitesmoke; }

.bgColor {
  background-color: #161616;
  filter: opacity(97%); }

.imgNormalizadaCarousel img, .imgNormalizada img img {
  width: auto;
  height: 1180px;
  max-height: 1180px; }

.imgNormalizada img {
  height: 800px;
  max-height: 800px; }

.carousel-caption a {
  transition: font-size 2s; }
  .carousel-caption a:hover {
    color: #c21a1a;
    font-weight: bold; }

.flexContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

@media only screen and (max-width: 768px) {
  .imgNormalizadaCarousel img, .imgNormalizada img img {
    width: 100%;
    max-height: 285px; } }

@media only screen and (max-width: 768px) {
  .gridPinturas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    gap: 55px 50px;
    grid-auto-flow: row;
    grid-template-areas: "pintura-1" "pintura-2"  "pintura-3" "pintura-4"  "pintura-5"  "pintura-6" "pintura-7" "pintura-8" "pintura-9"; }
  .pintura-1 {
    grid-area: pintura-1; }
  .pintura-2 {
    grid-area: pintura-2; }
  .pintura-3 {
    grid-area: pintura-3; }
  .pintura-4 {
    grid-area: pintura-4; }
  .pintura-6 {
    grid-area: pintura-6; }
  .pintura-5 {
    grid-area: pintura-5; }
  .pintura-7 {
    grid-area: pintura-7; }
  .pintura-8 {
    grid-area: pintura-8; }
  .pintura-9 {
    grid-area: pintura-9; } }

@media only screen and (max-width: 768px) {
  .imgNormalizada img {
    width: auto;
    height: auto; } }

@media only screen and (max-width: 768px) {
  .mailServadio, .logoInstagram {
    margin: 20px; } }

footer {
  background-color: #161616;
  filter: opacity(98%);
  padding: 20px 0; }
  footer p {
    color: #414141; }

.logoInstagram {
  filter: opacity(0.4) drop-shadow(0 0 0 whitesmoke); }
  .logoInstagram:hover {
    background-color: #c21a1a; }
