h1{
	margin-top: 2rem;
}
//index
.imgNormalizadaCarousel img{
	width: auto;
	height: 1180px;
	max-height: 1180px;
}
@media only screen and (max-width: 768px) {
	.imgNormalizadaCarousel img{
		width: auto;
		height: auto;
		
	}
}
//pinturas
.gridPinturas {  display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 55px 50px;
	grid-auto-flow: row;
	grid-template-areas:
	"pintura-1 pintura-2 pintura-3"
	"pintura-4 pintura-5 pintura-6"
	"pintura-7 pintura-8 pintura-9";
}

.pintura-1 { grid-area: pintura-1; }

.pintura-2 { grid-area: pintura-2; }

.pintura-3 { grid-area: pintura-3; }

.pintura-4 { grid-area: pintura-4; }

.pintura-6 { grid-area: pintura-6; }

.pintura-7 { grid-area: pintura-7; }

.pintura-8 { grid-area: pintura-8; }

.pintura-9 { grid-area: pintura-9; }


@media only screen and (max-width: 768px) {
	.gridPinturas {  display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(9,1fr);
		gap: 55px 50px;
		grid-auto-flow: row;
		grid-template-areas:
		"pintura-1"
		"pintura-2" 
		"pintura-3"
		"pintura-4" 
		"pintura-5" 
		"pintura-6"
		"pintura-7"
		"pintura-8"
		"pintura-9";
	}
	
	.pintura-1 { grid-area: pintura-1; }
	
	.pintura-2 { grid-area: pintura-2; }
	
	.pintura-3 { grid-area: pintura-3; }
	
	.pintura-4 { grid-area: pintura-4; }
	
	.pintura-6 { grid-area: pintura-6; }
	
	.pintura-5 { grid-area: pintura-5; }

	.pintura-7 { grid-area: pintura-7; }
	
	.pintura-8 { grid-area: pintura-8; }
	
	.pintura-9 { grid-area: pintura-9; }
	
}
//tatuajes
.imgNormalizada img {
	width: auto;
	height: 800px;
	max-height: 800px;
}
@media only screen and (max-width: 768px) {
	.imgNormalizada img {
		width: auto;
		height: auto;
	}
}
//press
a{
	text-decoration: none;
	color: $colorA;
}
.carousel-caption a{
	color: $colorA;
	transition: font-size 2s;
}
.carousel-caption a:hover{
	font-size: 1.5rem;
	color: $colorAtransicion;
}