// VARIABLES
$colorBlanco: whitesmoke;
$colorNegro: black;
$fontPrincipal: 'Aboreto', cursive;
// MIXINS
@mixin tamanos($ancho, $alto, $maxAlto) {
    width: $ancho;
    height: $alto;
    max-height: $maxAlto;
}
// MAPS
$redes: (
    facebook: blue,
    instagram: rgb(194, 26, 26),
    whatsapp: green
); 
