// GENERAL
body{
	background-image: url("https://d2jv9003bew7ag.cloudfront.net/uploads/Servadio-old-wall-in-hacney-1200x1200.jpg");
}

.textColor{
	color: $colorBlanco;
}
.bgColor{
	background-color: rgb(22, 22, 22);
	filter: opacity(97%);
}

// INDEX
.imgNormalizadaCarousel{
	img{
		@include tamanos(auto, 1180px, 1180px); 
	}
}

// TATUAJES
.imgNormalizada{
	img{
		@extend .imgNormalizadaCarousel;
		height: 800px;
		max-height: 800px;
	}
}

// PRESS
.carousel-caption{
	a{
		transition: font-size 2s;
		&:hover{
			color: map-get($redes, instagram);
			font-weight: bold;
		}
	}
}

.flexContainer{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}