// INDEX
.imgNormalizadaCarousel{
	img{
		@include tamanos(auto, 1180px, 1180px); 
	}
}

// TATUAJES
.imgNormalizada{
	img{
		@extend .imgNormalizadaCarousel;
		height: 800px;
		max-height: 800px;
	}
}

// CONTACTO

// PRESS
.carousel-caption{
	a{
		transition: font-size 2s;
		&:hover{
			font-size: 1.5rem;
			color: $colorAtransicion;
			font-weight: bold;
		}
	}
}