footer{
    background-color: rgb(22, 22, 22);
	filter: opacity(95%); 
	padding: 20px 0;
    p{
        color: $colorBlanco;
    }
}

.logoInstagram{
    &:hover{
        background-color: map-get($redes, instagram);
    }
}