footer{ 
	padding: 20px 0;
    color: $colorBlanco;
    p{
        color: $colorNegro;
    }
    @media only screen and (max-width: 768px) {
        .mailServadio, .logoInstagram{
            margin: 20px;
        }
    }
}