// PINTURAS
.gridPinturas {  display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 55px 50px;
	grid-auto-flow: row;
	grid-template-areas:
	"pintura-1 pintura-2 pintura-3"
	"pintura-4 pintura-5 pintura-6"
	"pintura-7 pintura-8 pintura-9";
}

.pintura-1 { grid-area: pintura-1; }

.pintura-2 { grid-area: pintura-2; }

.pintura-3 { grid-area: pintura-3; }

.pintura-4 { grid-area: pintura-4; }

.pintura-6 { grid-area: pintura-6; }

.pintura-7 { grid-area: pintura-7; }

.pintura-8 { grid-area: pintura-8; }

.pintura-9 { grid-area: pintura-9; }
