// UNIVERSAL
*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: $fontPrincipal;
}

// HEADER
.logoNav{
	filter: opacity(0.4) drop-shadow(0 0  0 $colorBlanco);
}

a{
	text-decoration: none;
	color: $colorBlanco;
}
